[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
django-extensions = '*'

[packages]
django = "*"
django-crispy-forms = '*'
django-allauth = '*'
django-environ = '*'
#psycopg2-binary="*"

[requires]
python_version = "3.8"
